# Development environment pip requirements file
# Install via 'pip install -r requirements_dev.txt -r ./lib'

Pillow
jinja2
simplejson
unittest2
git+https://github.com/GoogleCloudPlatform/endpoints-proto-datastore.git