.main
  padding-top 50px

.overflower
  overflow auto
  overflow-y hidden
  max-width 100%
  > table
    margin-bottom 200px

.mini-input.mdl-textfield .mdl-textfield__label:after
  bottom: 20px;

.mdl-layout__header
  display block !important
.debug
  *
    &[ng-model]
    &[ng-click]
    &[ng-repeat]
      position relative !important
      overflow visible
      display block

      &:after
        content 'm:'attr(ng-model)', c:'attr(ng-click)
        display block
        color #fff
        font-size 10px
        position absolute !important
        background $purple
        left 0
        height 12px
        line-height 12px
        white-space nowrap
        top 0

  td
    &[ng-model]
    &[ng-click]
    &[ng-repeat]
     display table-cell

  tr
    &[ng-model]
    &[ng-click]
    &[ng-repeat]
     display table-row