.main
  padding-top 50px

.overflower
  overflow auto
  overflow-y hidden
  max-width 100%
  > table
    margin-bottom 200px

.mini-input.mdl-textfield .mdl-textfield__label:after
  bottom: 20px;

.mdl-layout__header
  display block !important