<!DOCTYPE html>
<html ng-app="myApp"></html>
<head>
  <title>appengine + NDB + Angular CRUD</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link id="efor-style" rel="stylesheet" href="/static/css/style.css">
  <!--
  script(src='//code.jquery.com/jquery-2.1.1.min.js')
  link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
  script(src='//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')
  -->
  <!---->
  <link rel="stylesheet" href="/static/components/Materialize/dist/css/materialize.min.css">
  <script defer src="/static/components/jquery/dist/jquery.min.js"></script>
  <script defer src="/static/components/Materialize/dist/js/materialize.min.js"></script>
</head>
<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper"><a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html"><i class="material-icons">view_module</i> Sass</a></li>
          <li><a href="sass.html"><i class="material-icons">view_module</i> Sass</a></li>
          <li><a href="sass.html"><i class="material-icons">view_module</i> Sass</a></li>
          <li><a href="sass.html"><i class="material-icons">view_module</i> Sass</a></li>
          <li><a href="sass.html"><i class="material-icons">view_module</i> Sass</a></li>
          <li><a href="sass.html"><i class="material-icons">view_module</i> Sass</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="row">
    <div class="col s12">hola
      <div class="waves-effect waves-light white text-blue btn">botton</div>
    </div>
  </div>
  <footer style="bottom: 45px; right: 24px;" class="fixed-action-btn">
    <div class="btn-floating btn-large red"><i class="large material-icons">mode_edit</i></div>
  </footer>
</body>