.overflower
  table
    thead: tr
      th ID
      th Name
      th Description
      th Add by
      th Options
    tbody: tr(ng-repeat="item in mn.list")
      td {[{ item.example_id }]}
      td {[{ item.example_name }]}
      td {[{ item.example_description }]}
      td {[{ item.added_by.email }]}
      td
        a.dropdown-button(href="javascript:void(0);", data-activates="demoDropdown-{[{$index + 1}]}", dropdown, data-hover="true")
          i.material-icons more_vert
        ul.dropdown-content(id="demoDropdown-{[{$index + 1}]}")
          li: a(href="javascript:void(0);", ng-click="mn.openEditItem(item)") Edit
          li: a(href="javascript:void(0);", ng-click="mn.deleteIten(item)") Delete
          li: a(href='#demoModal', modal, ng-click="templateUrl='/static/html/list_add2.html'") Show Modal

.fixed-action-btn(style="bottom: 45px; right: 24px;")
  a.btn-floating.btn-large.waves-effect.waves-light.red(ng-click="mn.openSaveItem()")
    i.material-icons add