.colorpicker-visible,
.colorpicker-visible .dropdown-menu {
  display: block !important;
}
colorpicker-saturation {
  display: block;
  width: 100px;
  height: 100px;
  background-image: url("../img/picker-color/saturation.png");
  cursor: crosshair;
  float: left;
}
colorpicker-saturation i {
  display: block;
  height: 7px;
  width: 7px;
  border: 1px solid #000;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  margin: -4px 0 0 -4px;
}
colorpicker-saturation i::after {
  content: '';
  display: block;
  height: 7px;
  width: 7px;
  border: 1px solid #fff;
  border-radius: 5px;
}
colorpicker-hue,
colorpicker-alpha {
  width: 15px;
  height: 100px;
  float: left;
  cursor: row-resize;
  margin-left: 4px;
  margin-bottom: 4px;
}
colorpicker-hue i,
colorpicker-alpha i {
  display: block;
  height: 2px;
  background: #000;
  border-top: 1px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: -1px;
}
colorpicker-hue {
  background-image: url("../img/picker-color/hue.png");
}
colorpicker-alpha {
  display: none;
}
colorpicker-alpha,
.colorpicker-color {
  background-image: url("../img/picker-color/alpha.png");
}
.colorpicker {
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  margin-top: 0;
  background: #fff;
  border-radius: 2px;
  box-shadow: rgba(0,0,0,0.33) 2px 2px 4px;
}
.colorpicker colorpicker-hue,
.colorpicker colorpicker-alpha,
.colorpicker colorpicker-saturation {
  position: relative;
}
.colorpicker input {
  width: 100px;
  font-size: 11px;
  color: #000;
  background-color: #fff;
}
.colorpicker.alpha {
  min-width: 140px;
}
.colorpicker.alpha colorpicker-alpha {
  display: block;
}
.colorpicker.dropdown {
  position: absolute;
}
.colorpicker.colorpicker-fixed-position {
  position: fixed;
}
.colorpicker .dropdown-menu {
  position: static;
  top: 0;
  left: 0;
  min-width: 120px;
  padding: 4px;
}
.colorpicker .dropdown-menu::after,
.colorpicker .dropdown-menu::before {
  content: '';
  display: inline-block;
  zoom: 1;
  *display: inline;
  display: inline-block;
  position: absolute;
}
.colorpicker .dropdown-menu::after {
  clear: both;
  border: 6px solid transparent;
  top: -5px;
  left: 7px;
}
.colorpicker .dropdown-menu::before {
  border: 7px solid transparent;
  top: -6px;
  left: 6px;
}
.colorpicker-position-top .colorpicker::after {
  border-top: 6px solid #fff;
  border-bottom: 0;
  top: auto;
  bottom: -5px;
}
.colorpicker-position-top .colorpicker::before {
  border-top: 7px solid rgba(0,0,0,0.2);
  border-bottom: 0;
  top: auto;
  bottom: -6px;
}
.colorpicker-position-right .colorpicker::after {
  border-right: 6px solid #fff;
  border-left: 0;
  top: 11px;
  left: -5px;
}
.colorpicker-position-right .colorpicker::before {
  border-right: 7px solid rgba(0,0,0,0.2);
  border-left: 0;
  top: 10px;
  left: -6px;
}
.colorpicker-position-bottom::before {
  border-bottom: 7px solid rgba(0,0,0,0.2);
  border-top: 0;
}
.colorpicker-position-left::after {
  border-left: 6px solid #fff;
  border-right: 0;
  top: 11px;
  left: auto;
  right: -5px;
}
.colorpicker-position-left::before {
  border-left: 7px solid rgba(0,0,0,0.2);
  border-right: 0;
  top: 10px;
  left: auto;
  right: -6px;
}
colorpicker-preview {
  display: none;
  height: 10px;
  margin: 5px 0 3px 0;
  clear: both;
  background-position: 0 100%;
}
.close-colorpicker {
  background: #fff;
  size: 16px;
  color: #333;
  text-align: center;
  border: none;
}
body.tinyMCE_iframe_body {
  padding: 2px 5px;
  max-height: calc(100% - 20px);
  background: #fff;
  font-size: 14px;
  font-family: sans;
}
.mdl-textfield > .mce-tinymce {
  margin-top: -20px;
}
.mce-tinymce.mce-container.mce-panel {
  background: rgba(0,0,0,0.1);
  border-radius: 2px;
  border: rgba(255,255,255,0.5);
}
.mce-tinymce.mce-container.mce-panel .mce-path-item,
.mce-tinymce.mce-container.mce-panel .mce-divider,
.mce-tinymce.mce-container.mce-panel i.mce-i-resize {
  color: rgba(255,255,255,0.75);
}
.mce-tinymce.mce-container.mce-panel .mce-path-item .mce-divider,
.mce-tinymce.mce-container.mce-panel .mce-divider .mce-divider,
.mce-tinymce.mce-container.mce-panel i.mce-i-resize .mce-divider {
  opacity: 0.5;
}
@media (max-width: 480px) {
  .mce-tinymce.mce-container.mce-panel .mce-menubar.mce-toolbar .mce-container-body,
  .mce-tinymce.mce-container.mce-panel .mce-toolbar-grp .mce-container-body {
    overflow: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  .mce-tinymce.mce-container.mce-panel .mce-menubar.mce-toolbar .mce-container-body::-webkit-scrollbar,
  .mce-tinymce.mce-container.mce-panel .mce-toolbar-grp .mce-container-body::-webkit-scrollbar {
    size: 4px;
  }
  .mce-tinymce.mce-container.mce-panel .mce-menubar.mce-toolbar .mce-container-body::-webkit-scrollbar-track,
  .mce-tinymce.mce-container.mce-panel .mce-toolbar-grp .mce-container-body::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: #607d8b;
  }
  .mce-tinymce.mce-container.mce-panel .mce-menubar.mce-toolbar .mce-container-body::-webkit-scrollbar-thumb,
  .mce-tinymce.mce-container.mce-panel .mce-toolbar-grp .mce-container-body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #c3cfd5;
  }
}
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-container.mce-panel,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-menubar,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-toolbar-grp,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-btn {
  background: transparent;
}
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-container.mce-panel .mce-btn,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-menubar .mce-btn,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-toolbar-grp .mce-btn,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-btn .mce-btn,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-container.mce-panel .mce-menubtn button,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-menubar .mce-menubtn button,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-toolbar-grp .mce-menubtn button,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-btn .mce-menubtn button {
  box-sizing: border-box;
  background: transparent;
}
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-container.mce-panel .mce-btn .mce-ico,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-menubar .mce-btn .mce-ico,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-toolbar-grp .mce-btn .mce-ico,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-btn .mce-btn .mce-ico,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-container.mce-panel .mce-menubtn button .mce-ico,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-menubar .mce-menubtn button .mce-ico,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-toolbar-grp .mce-menubtn button .mce-ico,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-btn .mce-menubtn button .mce-ico,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-container.mce-panel .mce-btn,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-menubar .mce-btn,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-toolbar-grp .mce-btn,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-btn .mce-btn,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-container.mce-panel .mce-menubtn button,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-menubar .mce-menubtn button,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-toolbar-grp .mce-menubtn button,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-btn .mce-menubtn button,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-container.mce-panel .mce-btn span,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-menubar .mce-btn span,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-toolbar-grp .mce-btn span,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-btn .mce-btn span,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-container.mce-panel .mce-menubtn button span,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-menubar .mce-menubtn button span,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-toolbar-grp .mce-menubtn button span,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-btn .mce-menubtn button span {
  color: rgba(255,255,255,0.75);
}
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-container.mce-panel .mce-btn .mce-caret,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-menubar .mce-btn .mce-caret,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-toolbar-grp .mce-btn .mce-caret,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-btn .mce-btn .mce-caret,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-container.mce-panel .mce-menubtn button .mce-caret,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-menubar .mce-menubtn button .mce-caret,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-toolbar-grp .mce-menubtn button .mce-caret,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-btn .mce-menubtn button .mce-caret {
  border-top-color: rgba(255,255,255,0.75);
}
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-container.mce-panel .mce-btn .mce-preview,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-menubar .mce-btn .mce-preview,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-toolbar-grp .mce-btn .mce-preview,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-btn .mce-btn .mce-preview,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-container.mce-panel .mce-menubtn button .mce-preview,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-menubar .mce-menubtn button .mce-preview,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-toolbar-grp .mce-menubtn button .mce-preview,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-btn .mce-menubtn button .mce-preview {
  background: rgba(255,255,255,0.75);
}
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-container.mce-panel .mce-btn:hover,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-menubar .mce-btn:hover,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-toolbar-grp .mce-btn:hover,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-btn .mce-btn:hover,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-container.mce-panel .mce-menubtn:hover,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-menubar .mce-menubtn:hover,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-toolbar-grp .mce-menubtn:hover,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-btn .mce-menubtn:hover,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-container.mce-panel .mce-btn:focus,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-menubar .mce-btn:focus,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-toolbar-grp .mce-btn:focus,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-btn .mce-btn:focus,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-container.mce-panel .mce-menubtn:focus,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-menubar .mce-menubtn:focus,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-toolbar-grp .mce-menubtn:focus,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-btn .mce-menubtn:focus {
  background: rgba(255,255,255,0.1) !important;
  border-color: transparent;
}
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-container.mce-panel .mce-btn.mce-active,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-menubar .mce-btn.mce-active,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-toolbar-grp .mce-btn.mce-active,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-btn .mce-btn.mce-active,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-container.mce-panel .mce-menubtn.mce-active,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-menubar .mce-menubtn.mce-active,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-toolbar-grp .mce-menubtn.mce-active,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-btn .mce-menubtn.mce-active {
  background: rgba(255,255,255,0.15) !important;
}
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-container.mce-panel .mce-btn-group,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-menubar .mce-btn-group,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-toolbar-grp .mce-btn-group,
.mce-tinymce.mce-container.mce-panel .mce-container-body .mce-btn .mce-btn-group {
  border: 1px solid rgba(217,217,217,0.15);
  padding-left: 0px;
  background: rgba(217,217,217,0.1);
  border-radius: 2px;
}
body > .mce-container.mce-panel.mce-floatpanel.mce-popover {
  width: auto !important;
  height: auto !important;
}
body > .mce-container.mce-panel {
  height: auto !important;
}
body > .mce-container.mce-panel table.mce-colorbutton-grid td > div {
  size: 12px;
}
body > .mce-container.mce-panel table.mce-colorbutton-grid td.mce-grid-cell.mce-colorbtn-trans {
  position: absolute;
  top: -1px;
  left: 100%;
}
body > .mce-container.mce-panel table.mce-colorbutton-grid td.mce-grid-cell.mce-colorbtn-trans > div {
  background: #fff !important;
  height: 20px;
  width: 20px;
}
body > .mce-container.mce-panel table.mce-colorbutton-grid td.mce-custom-color-btn[colspan="8"] > div.mce-btn {
  height: auto;
}
body > .mce-container.mce-panel table.mce-colorbutton-grid td.mce-custom-color-btn[colspan="8"] button {
  display: block;
  border: 1px solid #d3d3d3;
  background: rgba(0,0,0,0.05);
  width: 100%;
  line-height: 1.4em;
  border-radius: 2px;
}
@media (max-width: 480px) {
  .mce-tinymce.mce-tinymce-inline.mce-container.mce-panel.mce-floatpanel.mce-tinymce-inline-inside {
    padding-bottom: 10px;
    box-shadow: rgba(0,0,0,0.25) 0 4px 4px 0;
  }
  .mce-tinymce.mce-tinymce-inline.mce-container.mce-panel.mce-floatpanel {
    background: #fff;
    box-shadow: rgba(0,0,0,0.25) 0 2px 4px 0;
  }
  .mce-container.mce-panel.mce-floatpanel.mce-window,
  .mce-tinymce.mce-tinymce-inline.mce-container.mce-panel.mce-floatpanel.mce-tinymce-inline-inside {
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
    width: auto !important;
    position: absolute;
    background: #fff;
    overflow: auto;
    max-width: 90%;
    max-height: 95%;
  }
  .mce-container.mce-panel.mce-floatpanel.mce-window .mce-dragh,
  .mce-tinymce.mce-tinymce-inline.mce-container.mce-panel.mce-floatpanel.mce-tinymce-inline-inside .mce-dragh {
    display: none;
  }
  .mce-container.mce-panel.mce-floatpanel.mce-window .mce-reset .mce-container-body.mce-abs-layout,
  .mce-tinymce.mce-tinymce-inline.mce-container.mce-panel.mce-floatpanel.mce-tinymce-inline-inside .mce-reset .mce-container-body.mce-abs-layout {
    max-width: 100%;
    overflow: auto;
    overflow-y: hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  .mce-container.mce-panel.mce-floatpanel.mce-window .mce-reset .mce-container-body.mce-abs-layout::-webkit-scrollbar,
  .mce-tinymce.mce-tinymce-inline.mce-container.mce-panel.mce-floatpanel.mce-tinymce-inline-inside .mce-reset .mce-container-body.mce-abs-layout::-webkit-scrollbar {
    size: 4px;
  }
  .mce-container.mce-panel.mce-floatpanel.mce-window .mce-reset .mce-container-body.mce-abs-layout::-webkit-scrollbar-track,
  .mce-tinymce.mce-tinymce-inline.mce-container.mce-panel.mce-floatpanel.mce-tinymce-inline-inside .mce-reset .mce-container-body.mce-abs-layout::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: #ccc;
  }
  .mce-container.mce-panel.mce-floatpanel.mce-window .mce-reset .mce-container-body.mce-abs-layout::-webkit-scrollbar-thumb,
  .mce-tinymce.mce-tinymce-inline.mce-container.mce-panel.mce-floatpanel.mce-tinymce-inline-inside .mce-reset .mce-container-body.mce-abs-layout::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #808080;
  }
  .mce-container.mce-panel.mce-floatpanel.mce-window .mce-reset .mce-container-body.mce-abs-layout textarea.mce-textbox.mce-multiline.mce-first.mce-last.mce-abs-layout-item,
  .mce-tinymce.mce-tinymce-inline.mce-container.mce-panel.mce-floatpanel.mce-tinymce-inline-inside .mce-reset .mce-container-body.mce-abs-layout textarea.mce-textbox.mce-multiline.mce-first.mce-last.mce-abs-layout-item {
    font-size: 12px;
  }
  .mce-container.mce-panel.mce-floatpanel.mce-window .mce-reset .mce-container.mce-panel.mce-foot,
  .mce-tinymce.mce-tinymce-inline.mce-container.mce-panel.mce-floatpanel.mce-tinymce-inline-inside .mce-reset .mce-container.mce-panel.mce-foot {
    max-width: 100%;
  }
  .mce-container.mce-panel.mce-floatpanel.mce-window .mce-reset .mce-container.mce-panel.mce-foot .mce-container-body.mce-abs-layout,
  .mce-tinymce.mce-tinymce-inline.mce-container.mce-panel.mce-floatpanel.mce-tinymce-inline-inside .mce-reset .mce-container.mce-panel.mce-foot .mce-container-body.mce-abs-layout {
    max-width: 100%;
  }
  .mce-container.mce-panel.mce-floatpanel.mce-window .mce-reset .mce-container.mce-panel.mce-foot .mce-container-body.mce-abs-layout .mce-widget.mce-btn,
  .mce-tinymce.mce-tinymce-inline.mce-container.mce-panel.mce-floatpanel.mce-tinymce-inline-inside .mce-reset .mce-container.mce-panel.mce-foot .mce-container-body.mce-abs-layout .mce-widget.mce-btn {
    position: static;
    float: left;
    margin: 10px;
  }
  .mce-container.mce-panel.mce-floatpanel.mce-window .mce-reset .mce-container.mce-panel.mce-foot .mce-container-body.mce-abs-layout .mce-widget.mce-btn + .mce-btn,
  .mce-tinymce.mce-tinymce-inline.mce-container.mce-panel.mce-floatpanel.mce-tinymce-inline-inside .mce-reset .mce-container.mce-panel.mce-foot .mce-container-body.mce-abs-layout .mce-widget.mce-btn + .mce-btn {
    margin-left: 0;
  }
}
.mce-container.mce-panel.mce-floatpanel.mce-menu {
  max-height: 275px;
}
.ui-notification {
  border-radius: 2px;
  position: fixed;
  z-index: 9999;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  cursor: pointer;
  width: 300px;
  color: #fff;
  background: rgba(38,50,56,0.85);
  transition: all ease 0.5s;
}
.ui-notification.killed {
  opacity: 0;
  transition: opacity ease 1s;
}
.ui-notification > h3 {
  display: block;
  margin: 10px 10px 0 10px;
  padding: 0 0 5px 0;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #808080;
  line-height: 1.2em;
  color: #f1f1f1;
  font-weight: normal;
}
.ui-notification a {
  text-decoration: underline;
  font-weight: normal;
  COLOR: #fff;
}
.ui-notification a:hover {
  text-decoration: underline;
}
.ui-notification > .message {
  margin: 10px 10px 10px 10px;
}
.ui-notification.warning {
  color: #ff9800;
}
.ui-notification.error {
  color: #e53935;
}
.ui-notification.success {
  color: #8bc34a;
}
.ui-notification.info {
  color: #50d2ec;
}
.ui-notification:hover {
  background: #263238;
  opacity: 1;
}
.efor-modal {
  position: fixed;
  overflow: hidden;
  overflow-y: auto;
  left: 0;
  top: 100%;
  right: 0;
  bottom: 0;
  z-index: -1;
  color: #fff;
  background: rgba(38,50,56,0.5);
  transition: ease-in-out 0.25s all;
  opacity: 0;
  height: 0;
}
.efor-modal > * {
  transition: ease-out 1s all;
  opacity: 0;
}
.efor-modal.is-open {
  display: block;
  opacity: 1;
  height: 100%;
  top: 0;
  z-index: 100;
}
.efor-modal.is-open > * {
  top: 0;
  opacity: 1;
}
.efor-modal.ani-slide {
  position: absolute;
  height: 0;
  width: 100%;
}
.efor-modal.ani-slide.is-open {
  height: 100%;
  top: 0;
  opacity: 1;
}
.efor-modal.ani-slide.is-open > * {
  opacity: 1;
}
.efor-modal.ani-slide.is-close {
  top: 100%;
  opacity: 0;
}
.efor-modal.ani-slide.is-close > * {
  opacity: 0;
}
.efor-modal.ani-fade {
  top: 0;
  height: 100%;
}
.efor-modal.ani-fade.is-open {
  top: 0;
  opacity: 1;
}
.efor-modal.ani-fade.is-open > * {
  opacity: 1;
}
.efor-modal.ani-fade.is-close {
  opacity: 0;
}
.efor-modal.ani-fade.is-close > * {
  opacity: 0;
}
.efor-modal div[ng-include] {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
.efor-modal .efor-modal-btn-quit {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
  box-shadow: none;
  background: none;
  z-index: 1;
}
.efor-modal.no-quit-button .efor-modal-btn-quit {
  display: none !important;
}
.efor-modal .efor-modal-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-height: 500px;
}
.efor-modal .efor-modal-wrapper .w-message {
  max-width: 420px;
}
.efor-modal .efor-modal-wrapper h1 {
  font-size: 24px;
  margin-bottom: 5px;
}
@media (max-width: 480px) {
  .efor-modal .efor-modal-wrapper h1 {
    margin-top: 15px;
  }
}
@media (min-height: 840px) {
  .efor-modal .efor-modal-wrapper {
    margin-top: 5%;
  }
}
@media (min-height: 480px) {
  .efor-modal .efor-modal-wrapper {
    margin-top: 2%;
  }
}
.efor-modal .efor-buttons {
  width: 100%;
}
@media (max-width: 480px) {
  .efor-modal .efor-buttons {
    text-align: center;
  }
}
.efor-modal .efor-buttons .mdl-button {
  text-transform: none;
}
@media (max-width: 480px) {
  .efor-modal .efor-buttons .mdl-button {
    width: 100%;
    margin-bottom: 10px;
  }
}
.efor-modal .efor-buttons .mdl-button--raised {
  box-shadow: none;
  background-color: #2196f3;
  position: relative;
}
.efor-modal .efor-buttons .efor-btn-secundary {
  color: #fff;
  background-color: rgba(255,255,255,0.1);
}
.efor-modal .efor-buttons .efor-btn-primary {
  background-color: rgba(33,150,243,0.25);
  padding-left: 10px;
  padding-right: 10px;
}
.efor-modal .efor-buttons .material-icons {
  margin-left: 0.25em;
}
.efor-modal.danger {
  background: rgba(125,19,16,0.9);
}
.efor-modal.danger .efor-btn-primary {
  background-color: #e53935;
}
.efor-modal.info {
  background: rgba(0,188,212,0.9);
}
.efor-modal.info .efor-btn-primary {
  background-color: #00bcd4;
}
.efor-modal.success {
  background: rgba(139,195,74,0.9);
}
.efor-modal.success .efor-btn-primary {
  background-color: #8bc34a;
}
.efor-modal.warning {
  background: rgba(255,152,0,0.9);
}
.efor-modal.warning .efor-btn-primary {
  background-color: #ff9800;
}
.efor-modal.muted {
  background: rgba(102,102,102,0.9);
}
.efor-modal.muted .efor-btn-primary {
  background-color: #666;
}
.efor-modal .efor-slider .efor-section {
  position: absolute;
  transition: ease-in-out 0.25s all;
  opacity: 1;
  left: 0;
  right: 0;
  transform: translateX(0);
}
@media (max-width: 840px) {
  .efor-modal .efor-slider .efor-section {
    padding: 10px 20px;
  }
}
@media (max-width: 480px) {
  .efor-modal .efor-slider .efor-section {
    padding-top: 1px;
  }
}
.efor-modal .efor-slider .efor-section.ng-hide {
  opacity: 0;
  transform: translateX(-50px);
}
.efor-modal .efor-slider .efor-section.ng-hide.back {
  transform: translateX(50px);
}
.efor-modal .efor-slider .efor-section.ng-hide-remove {
  transform: translateX(0px);
}
.cont-liest-details {
  width: 100%;
}
.efor-modal .efor-slider .mdl-grid.width-md {
  max-width: 400px;
  margin: auto;
  padding: 0;
}
.efor-modal .efor-slider .mdl-grid.width-lg {
  max-width: 600px !important;
  margin: auto;
  padding: 0;
}
.efor-modal .efor-slider .mdl-textfield .mdl-textfield__input {
  border-bottom: 1px #fff solid;
}
.efor-modal .efor-slider .mdl-textfield .mdl-textfield__label,
.efor-modal .efor-slider .mdl-textfield.is-focused .mdl-textfield__label,
.efor-modal .efor-slider .mdl-textfield.is-dirty .mdl-textfield__label {
  color: rgba(255,255,255,0.33);
  border-Color: #fff;
  font-weight: normal;
}
.efor-modal .efor-slider .mdl-textfield .mdl-textfield__label:after,
.efor-modal .efor-slider .mdl-textfield.is-focused .mdl-textfield__label:after,
.efor-modal .efor-slider .mdl-textfield.is-dirty .mdl-textfield__label:after {
  background-color: #2196f3;
  height: 1px;
}
.efor-modal .efor-slider .mdl-textfield .mdl-radio {
  margin-right: 10px;
}
.efor-modal .efor-slider .mdl-textfield.esgm-radiocheck .mdl-textfield__label {
  top: 0 !important;
}
.efor-modal .efor-slider .mdl-textfield .mdl-radio__ripple-container .mdl-ripple,
.efor-modal .efor-slider .mdl-textfield .mdl-radio__inner-circle {
  background: #2196f3;
}
.efor-modal .efor-slider .mdl-textfield .mdl-radio__outer-circle,
.efor-modal .efor-slider .mdl-textfield .mdl-radio.is-checked .mdl-radio__outer-circle {
  border-color: #fff;
}
.efor-modal .efor-slider :not(.mdl-cell) > .mdl-textfield {
  width: 100%;
}
.efor-modal .efor-slider .mdl-cell > .mdl-textfield {
  margin-left: -8px;
}
.efor-modal .efor-slider .efor-color-input {
  margin-bottom: -20px;
}
.efor-modal .efor-slider .efor-color-input input,
.efor-modal .efor-slider .efor-color-input:not(.is-focused) .mdl-textfield__label {
  text-indent: 26px;
  cursor: pointer;
}
.efor-modal .efor-slider .efor-color-input .colorpicker.colorpicker-position-top {
  margin-top: 50px;
}
.efor-modal .efor-slider .efor-color-input .colorpicker.colorpicker-position-top:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  width: 0;
  height: 0;
  display: inline-block;
  zoom: 1;
  *display: inline;
  display: inline-block;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #fff transparent transparent transparent;
  top: 100%;
  left: 5px;
}
.efor-modal .efor-slider .efor-color-preview {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 24px;
  background: #666;
  border: 2px solid #fff;
  z-index: -1;
}
.efor-modal .efor-slider .efor-color-preview:after {
  content: '';
  display: block;
  position: absolute;
  right: -2px;
  bottom: -2px;
  width: 0;
  height: 0;
  display: inline-block;
  zoom: 1;
  *display: inline;
  display: inline-block;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent #fff transparent;
}
.efor-modal .efor-slider .signature-preview {
  padding: 0;
}
.efor-modal .efor-slider option {
  color: #607d8b;
}
.efor-modal .efor-slider hr {
  border-color: #fff;
  background-color: #fff;
  color: #fff;
  width: 100%;
  height: 0;
  display: block;
  clear: both;
  opacity: 0.25;
  margin: 10px auto;
}
.efor-modal .efor-slider h1 {
  text-align: center;
  margin-bottom: 0;
  font-size: 24px;
}
.efor-modal .efor-slider .efor-desc {
  opacity: 0.75;
  text-align: center;
  display: block;
  width: 100%;
  font-size: 14px;
  margin: auto;
  margin-bottom: 10px;
  line-height: 1.2em;
}
.efor-modal .efor-slider textarea {
  font-size: 12px;
}
.efor-modal .efor-slider .mdl-grid {
  width: 100%;
  padding: 0;
}
.efor-modal .message-box {
  background: #fff;
  left: 0;
  right: 0;
  max-width: 420px;
  max-height: 250px;
  margin: 7% auto auto;
  color: #212121;
  position: relative;
  box-shadow: 0 4px 8px rgba(0,0,0,0.32), 0 8px 40px rgba(0,0,0,0.4);
  position: absolute;
  padding-bottom: 60px;
}
@media (max-width: 840px) {
  .efor-modal .message-box {
    max-width: 90%;
  }
}
.efor-modal .message-box .mdl-grid {
  width: 100%;
  padding: 20px;
}
.efor-modal .message-box .mdl-checkbox__label {
  font-size: 14px;
}
.efor-modal .message-box .content-section {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}
.efor-modal .message-box .info-header,
.efor-modal .message-box .info-footer {
  margin: 0;
  padding: 20px;
}
@media (max-width: 840px) {
  .efor-modal .message-box .info-header {
    border-bottom: none;
  }
}
.efor-modal .message-box .info-header .title-info {
  padding: 1px;
  margin: 0;
  font-size: 18px;
  text-align: center;
}
.efor-modal .message-box .info-header .title-info .u {
  display: inline-block;
  zoom: 1;
  *display: inline;
  display: inline-block;
  font-style: italic;
}
.efor-modal .message-box .info-header .title-info .u:before,
.efor-modal .message-box .info-header .title-info .u:after {
  content: '"';
  display: inline-block;
  zoom: 1;
  *display: inline;
  display: inline-block;
}
.efor-modal .message-box .info-footer {
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: calc(100% - 20px);
}
.efor-modal .message-box .info-body {
  margin: auto;
  overflow: auto;
  overflow-x: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-grow: 1;
  width: 100%;
}
.efor-modal .message-box .info-body > .mdl-grid {
  height: auto;
  padding: 5px 20px;
}
@media (max-width: 840px) {
  .efor-modal .message-box .info-body > .mdl-grid {
    flex-direction: column;
  }
}
.config-box {
  background: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 600px;
  max-height: 550px;
  margin: auto;
  color: #212121;
  position: relative;
  box-shadow: 0 4px 8px rgba(0,0,0,0.32), 0 8px 40px rgba(0,0,0,0.4);
  position: absolute;
}
.config-box .mdl-checkbox__label {
  font-size: 14px;
}
@media (max-width: 840px) {
  .config-box {
    max-width: 90%;
  }
}
.config-box .content-section {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}
.config-box .info-header,
.config-box .info-footer {
  margin: 0;
  padding: 20px;
}
.config-box .info-header {
  border-bottom: 1px solid #eee;
}
@media (max-width: 840px) {
  .config-box .info-header {
    border-bottom: none;
  }
}
.config-box .info-header .title-info {
  padding: 1px;
  margin: 0;
  font-size: 18px;
}
.config-box .info-header .title-info .u {
  text-style: italic;
  display: inline-block;
  zoom: 1;
  *display: inline;
  display: inline-block;
}
.config-box .info-footer {
  text-align: right;
  border-top: 1px solid #eee;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: calc(100% - 40px);
}
.config-box .info-body {
  margin: auto;
  overflow: auto;
  overflow-x: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-grow: 1;
  width: 100%;
  margin-bottom: 60px;
}
.config-box .info-body > .mdl-grid {
  height: auto;
  box-sizing: border-box;
  width: 100%;
}
@media (max-width: 840px) {
  .config-box .info-body > .mdl-grid {
    flex-direction: column;
  }
}
.config-box .config-tabs {
  padding-top: 15px;
  margin: 0;
  border-right: 1px solid #eee;
  overflow: auto;
  align-items: flex-start;
}
@media (max-width: 840px) {
  .config-box .config-tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-right: 0;
    border-bottom: 1px solid #eee;
    width: 100%;
    flex-grow: 0;
    height: 100%;
  }
  .config-box .config-tabs a {
    min-width: 100px;
    flex-shirnk: 0;
  }
}
.config-box .config-tabs a {
  display: block;
  cursor: pointer;
  border-radius: 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  margin-bottom: 1px;
  transition: ease-in-out 250ms all;
}
.config-box .config-tabs a:hover {
  background: #f5f5f5;
}
.config-box .config-tabs a.is-active {
  background: #eee;
  font-weight: bold;
}
.config-box .config-pane {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 20px;
  margin: 0;
  height: auto;
  overflow: auto;
  align-items: flex-start;
  flex-direction: column;
  width: 69%;
}
@media (max-width: 840px) {
  .config-box .config-pane {
    width: calc(100% - 16px);
    flex-grow: 1;
  }
}
.config-box .efor-title-search {
  margin-bottom: 10px;
}
.config-box .mdl-textfield {
  width: 100%;
}
.config-box .table-list th:first-child,
.config-box .table-list td:first-child {
  padding-left: 0.25em;
}
.config-box .button-actions {
  display: block;
  text-align: left;
  width: 100%;
  font-weight: normal;
  padding: 0 8px;
}
.config-box .button-actions:hover .status-icon {
  color: #2196f3;
}
.config-box .button-actions .status-text {
  color: #666;
  font-size: 12px;
  font-style: italic;
}
.config-box .button-actions .material-icons {
  float: right;
  margin-top: 6px;
}
.config-box .button-actions.done_all .status-icon {
  color: #8bc34a;
}
.config-box .button-actions.sync {
  cursor: default;
}
.config-box .button-actions.sync .status-icon {
  color: #00bcd4;
  animation: rotate_f 5s linear infinite;
}
.config-box .button-actions.sync:hover {
  background: transparent;
}
.config-box fieldset.fieldset {
  border: none;
  padding: 1px 0 5px;
  margin: 0;
  width: 100%;
}
.config-box fieldset.fieldset.relevant {
  border-bottom: 1px solid #eee;
}
.config-box .tr_config {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}
.config-box .tr_config:first-child {
  margin-top: 20px;
}
.config-box .td_description {
  width: 80%;
  margin-left: 0;
}
.config-box .td_action {
  text-align: right;
}
.config-box .td_action .mdl-switch {
  margin-top: 8px;
  padding-right: 12px;
}
.config-box .mdl-checkbox,
.config-box .mdl-switch {
  margin-bottom: 10px;
}
.white-box {
  background: #fff;
  max-width: 824px;
  padding: 10px;
  margin: auto;
  color: #212121;
  position: relative;
  box-shadow: 0 4px 8px rgba(0,0,0,0.32), 0 8px 40px rgba(0,0,0,0.4);
}
.white-box.box-mini {
  max-width: 400px;
}
.white-box.box-mini .info-body .mdl-textfield,
.white-box.box-mini .info-body .cont-radios,
.white-box.box-mini .info-body .mdl-switch,
.white-box.box-mini .info-body .mdl-checkbox {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.white-box input[readonly] {
  color: #9e9e9e;
}
@media (max-width: 840px) {
  .white-box {
    max-width: 90%;
  }
}
.white-box .info-header,
.white-box .info-footer {
  margin: -10px;
  padding: 20px;
}
.white-box .info-header {
  color: #000;
}
.white-box .info-header .title-info {
  padding: 1px;
  margin: 0;
  font-size: 18px;
  line-height: 1.2em !important;
}
.white-box .info-footer {
  position: relative;
  text-align: right;
  z-index: 1;
  margin-top: 0;
}
.white-box .info-body {
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  overflow: auto;
  overflow-x: hidden;
  max-height: 400px;
  margin-left: -$paddingBox;
  margin-right: -$paddingBox;
}
@media (max-height: 1600px) {
  .white-box .info-body {
    max-height: 1400px;
  }
}
@media (max-height: 1024px) {
  .white-box .info-body {
    max-height: 800px;
  }
}
@media (max-height: 840px) {
  .white-box .info-body {
    max-height: 420px;
  }
}
@media (max-height: 480px) {
  .white-box .info-body {
    max-height: 200px;
  }
}
.white-box fieldset.fieldset {
  box-sizing: border-box;
  background: #f5f5f5;
  margin: auto -20px;
  padding: 20px;
  border-color: #fff;
}
.white-box fieldset.fieldset:first-child {
  padding-top: 0;
}
.white-box fieldset.fieldset + .fieldset {
  margin-top: 10px;
}
.white-box fieldset.fieldset.relevant {
  padding-bottom: 10px;
  background: #fff;
}
.white-box.box-shadow .mdl-textfield,
.white-box.box-shadow .cont-radios,
.white-box.box-shadow .mdl-switch,
.white-box.box-shadow .mdl-checkbox {
  box-shadow: rgba(0,0,0,0.15) 1px 1px 4px 0;
}
.white-box.box-shadow .mdl-textfield:hover,
.white-box.box-shadow .cont-radios:hover,
.white-box.box-shadow .mdl-switch:hover,
.white-box.box-shadow .mdl-checkbox:hover,
.white-box.box-shadow .mdl-textfield.is-focused,
.white-box.box-shadow .cont-radios.is-focused,
.white-box.box-shadow .mdl-switch.is-focused,
.white-box.box-shadow .mdl-checkbox.is-focused {
  box-shadow: rgba(0,0,0,0.15) 1px 1px 4px 0, rgba(0,0,0,0.2) 12px 12px 12px 0;
}
.white-box.box-shadow .cont-radios .mdl-checkbox,
.white-box.box-shadow .cont-radios .mdl-checkbox.is-focused,
.white-box.box-shadow .cont-radios .mdl-checkbox:hover {
  box-shadow: rgba(0,0,0,0.15) 1px 1px 4px 0, rgba(0,0,0,0.2) 12px 12px 12px 0;
}
.white-box .mdl-textfield,
.white-box .cont-radios,
.white-box .mdl-switch,
.white-box .mdl-checkbox {
  max-width: 100%;
  display: inline-block;
  zoom: 1;
  *display: inline;
  display: inline-block;
  margin: 5px;
  width: calc(33% - 10px);
  vertical-align: top;
  border: 10px solid #fff;
  box-sizing: border-box;
  transition: ease-in-out 250ms all;
}
.white-box .mdl-textfield.type-file .mdl-textfield__label,
.white-box .cont-radios.type-file .mdl-textfield__label,
.white-box .mdl-switch.type-file .mdl-textfield__label,
.white-box .mdl-checkbox.type-file .mdl-textfield__label {
  font-size: 12px;
  top: 4px;
  visibility: visible;
}
@media (max-width: 840px) {
  .white-box .mdl-textfield,
  .white-box .cont-radios,
  .white-box .mdl-switch,
  .white-box .mdl-checkbox {
    width: 44%;
  }
}
@media (max-width: 480px) {
  .white-box .mdl-textfield,
  .white-box .cont-radios,
  .white-box .mdl-switch,
  .white-box .mdl-checkbox {
    width: calc(100% - 10px);
  }
}
.cont-radios .mdl-checkbox {
  margin: 0;
}
.white-box .mdl-textfield .mdl-button {
  width: 100%;
  display: block;
}
.white-box .mdl-checkbox .mdl-switch__label,
.white-box .mdl-switch .mdl-switch__label {
  display: block;
  font-size: 12px;
  left: 45px;
  top: -15px;
}
.white-box .mdl-checkbox .mdl-switch__track,
.white-box .mdl-switch .mdl-switch__track,
.white-box .mdl-checkbox .mdl-switch__thumb,
.white-box .mdl-switch .mdl-switch__thumb,
.white-box .mdl-checkbox .mdl-switch__ripple-container,
.white-box .mdl-switch .mdl-switch__ripple-container {
  margin-top: 5px;
}
.white-box .mdl-checkbox .mdl-checkbox__label,
.white-box .mdl-switch .mdl-checkbox__label {
  display: block;
  font-size: 12px;
  top: -22px;
  left: 22px;
}
.white-box .cont-radios {
  padding: 6px 0;
}
.white-box .cont-radios .label {
  display: block;
  font-size: 12px;
}
.white-box .cont-radios .label + .mdl-radio {
  margin-left: 0;
}
.white-box .cont-radios .mdl-radio {
  margin-left: 10px;
  vertical-align: middle;
}
.white-box .uploadingFile {
  background: rgba(38,50,56,0.5);
  margin: auto;
  color: #fff;
}
.white-box .subtitle {
  font-size: 16px;
  margin: auto;
}
@-moz-keyframes rotate_f {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(364deg);
  }
}
@-webkit-keyframes rotate_f {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(364deg);
  }
}
@-o-keyframes rotate_f {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(364deg);
  }
}
@keyframes rotate_f {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(364deg);
  }
}
.efor-search {
  position: relative;
  height: 30px;
}
.is-small-screen .efor-search {
  width: auto;
  width: 100%;
}
.efor-search .btn-close,
.efor-search .ico-show,
.efor-search .ico-search {
  transition: ease-in-out all 250ms;
  opacity: 0.3;
  z-index: 1;
}
.efor-search .ico-search {
  padding: 5px 10px;
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
}
.efor-search .cont-icos {
  position: absolute;
  top: 0;
  right: 0;
  white-space: nowrap;
  text-align: right;
}
.efor-search .btn-close,
.efor-search .ico-show {
  padding: 5px 5px;
  left: auto;
  opacity: 0.75;
  cursor: pointer;
  color: #455a64;
}
.efor-search .btn-close:hover,
.efor-search .ico-show:hover {
  opacity: 1;
  color: #2196f3;
}
.efor-search .btn-close {
  right: 0;
}
.efor-search .ico-show {
  right: 30px;
}
.efor-search input.input_query {
  display: block;
  font-weight: bold;
  font-size: 14px;
  height: 100%;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #eee;
  opacity: 0.7;
  text-indent: 40px;
  transition: ease-in-out all 250ms;
}
.efor-search input.input_query.placeholder {
  font-weight: normal;
}
.efor-search input.input_query:-moz-placeholder {
  font-weight: normal;
}
.efor-search input.input_query::-moz-placeholder {
  font-weight: normal;
}
.efor-search input.input_query:-ms-input-placeholder {
  font-weight: normal;
}
.efor-search input.input_query::-webkit-input-placeholder {
  font-weight: normal;
}
.efor-search input.input_query:focus {
  opacity: 1;
  outline: none;
  color: #607d8b;
}
.efor-search input.input_query:focus ~ .material-icons {
  opacity: 1;
}
.efor-search .match-user,
.efor-search .not-match-user {
  position: absolute;
  width: auto;
  background: #fff;
  padding: 5px;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0 -1px 0 #e5e5e5, 0 4px 4px rgba(0,0,0,0.25), 0 2px 4px rgba(0,0,0,0.24);
  font-size: 14px;
}
.efor-search .match-user a,
.efor-search .not-match-user a {
  display: block;
  position: relative;
  padding: 1px 4px;
  cursor: pointer;
  color: #455a64;
  font-weight: normal;
}
.efor-search .match-user a:hover,
.efor-search .not-match-user a:hover {
  color: #fff;
  background: #2196f3;
}
.efor-search .not-match-user {
  color: rgba(102,102,102,0.5);
}
.efor-search .cont-gen-list {
  display: block;
  position: absolute;
  width: auto;
  background: #fff;
  padding: 5px;
  margin: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 10;
  box-shadow: 0 0 0 #e5e5e5, 0 0 2px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24), 0 0 2px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
  font-size: 14px;
  font-weight: normal;
}
.efor-search .desplegable-list {
  display: block;
  max-height: 200px;
  overflow: auto;
  overflow-x: hidden;
}
.efor-search .desplegable-list .li {
  display: block;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #fff;
  padding: 4px 4px;
  cursor: pointer;
  color: #455a64;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.efor-search .desplegable-list .li.hover {
  background: rgba(0,0,0,0.1);
}
.efor-search .desplegable-list .li:before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border: 1px solid #fff;
  border-radius: 2px;
  box-sizing: border-box;
  opacity: 0;
  background: #2196f3;
  box-shadow: #2196f3 0 0 1px 1px;
  transition: ease-in-out 250ms all;
}
.efor-search .desplegable-list .li input[type="checkbox"] {
  display: none;
}
.efor-search .desplegable-list .li.checked {
  color: #fff;
}
.efor-search .desplegable-list .li.checked:before {
  opacity: 1;
}
.efor-search .desplegable-list .li.checked .material-icons {
  color: #fff;
  opacity: 1;
}
.efor-search .desplegable-list .li .material-icons {
  position: relative;
  vertical-align: middle;
  font-size: 1.4em;
}
.efor-search .desplegable-list .search-notmatchuser {
  color: rgba(102,102,102,0.5);
  padding: 0 4px;
}
.efor-search.hide-list .cont-gen-list {
  display: none;
  z-index: 0;
}
.efor-search.show-list .cont-gen-list {
  display: block;
  z-index: 10;
}
.efor-search.show-list .ico-show {
  transform: rotate(-180deg);
}
.efor-search .cont-btns-inf {
  padding: 5px 10px;
  margin: 0 -5px;
  box-sizing: border-box;
}
.efor-search .btn-multiple-action {
  position: static;
  width: auto;
}
.mdl-menu .material-icons,
.mdl-navigation__link .material-icons {
  vertical-align: middle;
}
.mdl-button {
  text-transform: none;
}
.material-icons {
  vertical-align: middle;
}
input.ng-invalid.ng-touched + .mdl-textfield__label:after {
  width: 100%;
  background-color: #f44336;
  visibility: visible;
  left: 0;
}
.mdl-button {
  text-transform: none;
}
.mini-input.mdl-textfield {
  padding-bottom: 10px;
}
.mini-input.mdl-textfield .mdl-textfield__label:after {
  bottom: 10px;
}
.mini-input.mdl-textfield {
  padding-bottom: 10px;
}
.mini-input.mdl-textfield .mdl-textfield__label:after {
  bottom: 10px;
}
.mdl-textfield.always-view.mdl-textfield--floating-label .mdl-textfield__label {
  font-size: 12px;
  top: 4px;
  visibility: visible;
}
input.mdl-textfield__input[type="file"] {
  font-size: 12px;
}
.font-w-bold {
  font-weight: bold;
}
.font-w-normal {
  font-weight: normal;
}
.font-w-light {
  font-weight: light;
}
.text-a-left,
td.text-a-left,
th.text-a-left {
  text-align: left;
}
.text-a-center,
td.text-a-center,
th.text-a-center {
  text-align: center;
}
.text-a-right,
td.text-a-right,
th.text-a-right {
  text-align: right;
}
.text-a-justify,
td.text-a-justify,
th.text-a-justify {
  text-align: justify;
}
.text-muted {
  color: #666;
}
.text-primary {
  color: #2196f3;
}
.text-success {
  color: #8bc34a;
}
.text-info {
  color: #00bcd4;
}
.text-warning {
  color: #ff9800;
}
.text-danger {
  color: #e53935;
}
.table-overflow {
  display: block;
  overflow: hidden;
  overflow-x: auto;
  padding-bottom: 50px;
}
tr[ng-click],
th[ng-click],
td[ng-click] {
  cursor: pointer;
}
.table-list {
  width: 100%;
  border-left: none;
  border-right: none;
  border-top: none;
}
.table-list thead tr {
  background: transparent;
}
.table-list thead th {
  transition: ease-in-out 250ms all;
  padding: 0 0 0 10px;
  height: auto;
  font-size: 12px;
  font-weight: normal;
}
.table-list thead th cursor default:before {
  content: '';
  display: inline-block;
  zoom: 1;
  *display: inline;
  display: inline-block;
  width: 3px;
  height: 3px;
  position: relative;
  width: 0;
  height: 0;
  display: inline-block;
  zoom: 1;
  *display: inline;
  display: inline-block;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: #616161 transparent transparent transparent;
  margin-right: 3px;
  vertical-align: middle;
  top: -1px;
  opacity: 0;
  transform: rotate(0);
  transition: ease-in-out 250ms all;
}
.table-list thead th cursor default:hover {
  background: #eee;
}
.table-list thead th cursor default:hover:before {
  opacity: 0.5;
}
.table-list thead th.order {
  font-weight: bold;
  color: #616161;
}
.table-list thead th.order:before {
  opacity: 1;
}
.table-list thead th.reverse:before {
  transform: rotate(180deg);
}
.table-list thead th.active {
  font-weight: bold;
}
.table-list tbody tr {
  height: auto;
}
.table-list tbody tr td {
  height: auto;
  padding: 4px 0 4px 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.table-list tbody tr td .mdl-switch {
  display: inline;
}
.table-list tbody tr td:last-child {
  text-align: right;
}
.text-overflow {
  display: block;
  max-width: 320px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-overflow.owner {
  max-width: 150px;
}
.table-list .mdl-button--icon {
  size: 24px;
  min-width: 24px;
  color: #757575;
}
.tbody-description > tr {
  height: auto !important;
}
.tbody-description > tr > th,
.tbody-description > tr > td {
  border: none;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  min-height: 0;
  height: auto;
}
.tr-description {
  display: none;
}
.tr-description > td,
.tr-description > th {
  white-space: pre-line;
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 12px;
}
.tr-description > td::first-line,
.tr-description > th::first-line,
.tr-description > td::first-letter,
.tr-description > th::first-letter {
  font-size: 14px;
  font-style: italic;
}
.tr-description:hover {
  background: transparent !important;
}
.tbody-description.description-open {
  background: rgba(80,80,80,0.05);
}
.tbody-description.description-open tr > th,
.tbody-description.description-open tr > td {
  font-weight: bold;
}
.tbody-description.description-open .tr-description {
  display: table-row;
}
.tbody-description.description-open .tr-description > td,
.tbody-description.description-open .tr-description > th {
  font-weight: normal;
  padding-bottom: 12px;
  border-bottom: 1px #ccc solid;
}
*[loading-widget] {
  background: rgba(255,255,255,0.75);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 1000;
  text-align: denter;
  transition: ease-in-out 1s all;
  opacity: 1;
}
*[loading-widget][style*="display: none"] {
  display: block !important;
  opacity: 0;
  z-index: -1;
}
*[loading-widget] .message {
  position: relative;
  display: block;
  margin: 10px auto;
  max-width: 250px;
  text-align: center;
  border-radius: 2px;
  padding: 2px 8px;
  box-shadow: rgba(0,0,0,0.25) 2px 2px 6px 0;
  background: #ffeb8b;
}
.main {
  padding-top: 50px;
}
.overflower {
  overflow: auto;
  overflow-y: hidden;
  max-width: 100%;
}
.overflower > table {
  margin-bottom: 200px;
}
table {
  width: 100%;
}
.mdl-layout__header {
  display: block !important;
}
button.btn-add {
  position: fixed;
  right: 10px;
  bottom: 10px;
  outerline: #ffa500 1px solid;
}
.debug *[ng-model],
.debug *[ng-click],
.debug *[ng-repeat] {
  position: relative !important;
  overflow: visible;
  display: block;
}
.debug *[ng-model]:after,
.debug *[ng-click]:after,
.debug *[ng-repeat]:after {
  content: 'm:' attr(ng-model) ', c:' attr(ng-click);
  display: block;
  color: #fff;
  font-size: 10px;
  position: absolute !important;
  background: #9c27b0;
  left: 0;
  height: 12px;
  line-height: 12px;
  white-space: nowrap;
  top: 0;
}
.debug td[ng-model],
.debug td[ng-click],
.debug td[ng-repeat] {
  display: table-cell;
}
.debug tr[ng-model],
.debug tr[ng-click],
.debug tr[ng-repeat] {
  display: table-row;
}
@-moz-keyframes bg_top {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
@-webkit-keyframes bg_top {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
@-o-keyframes bg_top {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
@keyframes bg_top {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
@-moz-keyframes bg_downUp {
  0% {
    background-position: center 0;
  }
  100% {
    background-position: center -254px;
  }
}
@-webkit-keyframes bg_downUp {
  0% {
    background-position: center 0;
  }
  100% {
    background-position: center -254px;
  }
}
@-o-keyframes bg_downUp {
  0% {
    background-position: center 0;
  }
  100% {
    background-position: center -254px;
  }
}
@keyframes bg_downUp {
  0% {
    background-position: center 0;
  }
  100% {
    background-position: center -254px;
  }
}
@-moz-keyframes opacityAlf {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes opacityAlf {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes opacityAlf {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opacityAlf {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes upDown {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes upDown {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-o-keyframes upDown {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes upDown {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-moz-keyframes rotate_m {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
@-webkit-keyframes rotate_m {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
@-o-keyframes rotate_m {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
@keyframes rotate_m {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
@-moz-keyframes rotate_f {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(364deg);
  }
}
@-webkit-keyframes rotate_f {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(364deg);
  }
}
@-o-keyframes rotate_f {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(364deg);
  }
}
@keyframes rotate_f {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(364deg);
  }
}
@-moz-keyframes leftRight {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes leftRight {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-o-keyframes leftRight {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes leftRight {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-moz-keyframes menuDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes menuDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
  }
}
@-o-keyframes menuDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes menuDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
  }
}
@-moz-keyframes loadingShow {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes loadingShow {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
  }
}
@-o-keyframes loadingShow {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes loadingShow {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
  }
}
@-moz-keyframes cargando_open {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes cargando_open {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes cargando_open {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes cargando_open {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
.ngi-inspector {
  width: 390px !important;
}
.ngi-inspector div * {
  font-size: 11px !important;
}
.ngi-inspector .ngi-model > label {
  line-height: 1.75em !important;
  background-size: auto 12px !important;
}
.ngi-inspector .ngi-caret {
  margin-top: -3px !important;
}
.ngi-inspector .ngi-collapsed .ngi-caret {
  background-position-y: 0px !important;
}
