doctype html
html(ng-app="myApp")
head
  title appengine + NDB + Angular CRUD
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  link(rel='stylesheet', href='/static/components/Materialize/dist/css/materialize.min.css')
  link(rel='stylesheet', href='/static/css/style.css')

  //
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
    script(src='//code.jquery.com/jquery-2.1.1.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')

  //
  script(src='/static/components/jquery/dist/jquery.min.js')
  script(src='/static/components/angular/angular.min.js')
  script(src='/static/components/angular-route/angular-route.min.js')
  script(src='/static/components/angular-animate/angular-animate.min.js')
  script(src='/static/components/Materialize/dist/js/materialize.min.js')
  script(src='/static/components/angular-materialize/src/angular-materialize.js')

  script(defer, src="/static/components/efor-components/dev-tools/dev-utils-scripts.js")
  script(src="/static/js/utils.js")
  script(src='/static/components/efor-components/angular-efor-modal/efor_modal.js')
  script(src='/static/components/angular-ui-notification/dist/angular-ui-notification.js')
  script(src='/static/js/angular/app2.js')

body
  header
    nav.blue-grey
      .nav-wrapper
        a.brand-logo.left Apps
        a.button-collapse(href="", data-activates="mobile-demo"): i.material-icons menu
        ul.right
          li: a(href="#/list") list
          li: a(href="#/b") l-B
        ul.side-nav#mobile-demo
          li: a(href="#/list") list
          li: a(href="#/b") l-B
    nav
      .input-field.blue-grey.lighten-2.text-blue-grey
        input#search(type="search", required)
        label(for="search"): i.material-icons search
        i.material-icons close

  main(ng-controller="mainController as mn")
    div(ng-view)


  .btn(href='#demoModal', modal, ng-click="templateUrl='/static/html/list_add2.html'") Show Modal
  #demoModal.modal
    div(ng-include='templateUrl')

  // modal
  .efor-modal.ani-slide.no-quit-button(ng-controller="efModalCtrl")
    .efor-modal-btn-quit(ng-click='efmodal.close()')
        i.material-icons close
      div(ng-include='templateUrl')