doctype html
html(ng-app="myApp")
head
  title appengine + NDB + Angular CRUD
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  link(rel='stylesheet', href='/static/components/angular-materialize/css/style.css')
  link#efor-style(rel='stylesheet', href='/static/css/style.css')
  //
    script(src='//code.jquery.com/jquery-2.1.1.min.js')
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
    script(src='//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')
  //

  script(src='/static/components/jquery/dist/jquery.min.js')
  script(src='/static/components/angular/angular.min.js')
  script(src='/static/components/angular-route/angular-route.min.js')
  script(src='/static/components/angular-animate/angular-animate.min.js')
  script(src='/static/components/angular-materialize/src/angular-materialize.js')
  
  script(defer, src="/static/components/efor-components/dev-tools/dev-utils-scripts.js")
  script(src="/static/js/utils.js")
  script(src='/static/components/efor-components/angular-efor-modal/efor_modal.js')
  script(src='/static/components/angular-ui-notification/dist/angular-ui-notification.js')
  script(src='/static/js/angular/app2.js')

body
  header
    input#search(type="text", name="search")

    nav
      a(href='#/list') l List
      br
      a(href='#/b') l B

    main(ng-controller="mainController as mn")
      div(ng-view)

  // modal
  .efor-modal.ani-slide.no-quit-button(ng-controller="efModalCtrl")
    .efor-modal-btn-quit(ng-click='efmodal.close()')
        i.material-icons close
      div(ng-include='templateUrl')