
<div class="modal-content">
  <h4> Add Item</h4>
  <div>
    <input id="item_list_name" type="text" name="item_list_name" ng-model="scope.item_to_send.example_name" class="mdl-textfield__input"/>
    <label for="item_list_name" class="mdl-textfield__label">Name</label>
  </div>
  <form name="form" novalidate="">
    <textarea id="item_list_description" type="text" rows="2" name="item_list_description" ng-model="scope.item_to_send.example_description" class="mdl-textfield__input"></textarea>
    <label for="item_list_description" class="mdl-textfield__label">Description</label>
  </form>
  <div class="modal-footer">
    <button type="button" ng-click="efmodal.close()" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</button>
    <button type="button" ng-click="scope.saveItem(form)" class="modal-action modal-close waves-effect waves-green btn-flat">Save</button>
  </div>
</div>