
<div class="overflower">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Add by</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in mn.list">
        <td>{[{ item.example_id }]}</td>
        <td>{[{ item.example_name }]}</td>
        <td>{[{ item.example_description }]}</td>
        <td>{[{ item.added_by.email }]}</td>
        <td><a href="javascript:void(0);" data-activates="demoDropdown-{[{$index + 1}]}" dropdown="dropdown" data-hover="true" class="dropdown-button"><i class="material-icons">more_vert</i></a>
          <ul id="demoDropdown-{[{$index + 1}]}" class="dropdown-content">
            <li><a href="javascript:void(0);" ng-click="mn.openEditItem(item)">Edit</a></li>
            <li><a href="javascript:void(0);" ng-click="mn.deleteIten(item)">Delete</a></li>
            <li><a href="#demoModal" modal="modal" ng-click="templateUrl='/static/html/list_add2.html'">Show Modal</a></li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div style="bottom: 45px; right: 24px;" class="fixed-action-btn"><a ng-click="mn.openSaveItem()" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a></div>