
<div search-input="search-input" inp-placeholder="Buscar Usuario" inp-query-model="mn.query" inp-key-fun="mn.getExample()" inp-enter-fun="mn.getExample()" inp-clear-fun="mn.toDo()" list-model="example_id in mn.objExample" qlist-model="mn.arrExample" list-mdl-icon="account_circle" list-select-fun="mn.clearExampleList()" list-apply-fun="mn.toDo()" class="efor-title-search"></div>
<div search-input="search-input" inp-placeholder="Buscar Usuario" inp-query-model="mn.query2" inp-key-fun="mn.getExample()" inp-enter-fun="mn.getExample()" inp-clear-fun="mn.toDo()" list-model="mn.arrExample" qlist-model="mn.arrExample" list-mdl-icon="account_circle" list-select-fun="mn.clearExampleList()" list-apply-fun="mn.toDo()" class="efor-title-search"></div>
<div class="overflower">
  <table class="mdl-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">ID</th>
        <th class="mdl-data-table__cell--non-numeric">Name</th>
        <th class="mdl-data-table__cell--non-numeric">Description</th>
        <th class="mdl-data-table__cell--non-numeric">Add by</th>
        <th class="mdl-data-table__cell--non-numeric">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in mn.list">
        <td class="mdl-data-table__cell--non-numeric">{[{ item.example_id }]}</td>
        <td class="mdl-data-table__cell--non-numeric">{[{ item.example_name }]}</td>
        <td class="mdl-data-table__cell--non-numeric">{[{ item.example_description }]}</td>
        <td class="mdl-data-table__cell--non-numeric">{[{ item.added_by.email }]}</td>
        <td class="mdl-data-table__cell--non-numeric">
          <button id="item_options_{[{$index}]}" class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">more_vert</i></button>
          <ul for="item_options_{[{$index}]}" class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect">
            <li ng-click="mn.openEditItem(item)" class="mdl-menu__item">Edit</li>
            <li ng-click="mn.deleteIten(item)" class="mdl-menu__item">Delete</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<button ng-click="mn.openSaveItem()" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"><i class="material-icons">add</i></button>