.modal-content
  h4  Add Item
  div
    input#item_list_name.mdl-textfield__input(type='text', name='item_list_name', ng-model='scope.item_to_send.example_name')
    label.mdl-textfield__label(for='item_list_name') Name

  form(name='form', novalidate='')
    textarea#item_list_description.mdl-textfield__input(type='text', rows='2', name='item_list_description', ng-model='scope.item_to_send.example_description')
    label.mdl-textfield__label(for='item_list_description') Description

  .modal-footer
    button.modal-action.modal-close.waves-effect.waves-green.btn-flat(type='button', ng-click='efmodal.close()') Cancel
    button.modal-action.modal-close.waves-effect.waves-green.btn-flat(type='button', ng-click='scope.saveItem(form)') Save